FTDIBoardDriver/Service References/MyService/Keysight.NPI.ServiceModel.FTDI.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="Http://Keysight.NPI.ServiceModel.FTDI" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="Http://Keysight.NPI.ServiceModel.FTDI" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="Http://Keysight.NPI.ServiceModel.FTDI/Imports">
      <xsd:import namespace="Http://Keysight.NPI.ServiceModel.FTDI" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFTDIService_Init_FDTIDevice_InputMessage">
    <wsdl:part name="parameters" element="tns:Init_FDTIDevice" />
  </wsdl:message>
  <wsdl:message name="IFTDIService_Init_FDTIDevice_OutputMessage">
    <wsdl:part name="parameters" element="tns:Init_FDTIDeviceResponse" />
  </wsdl:message>
  <wsdl:message name="IFTDIService_Send_data_InputMessage">
    <wsdl:part name="parameters" element="tns:Send_data" />
  </wsdl:message>
  <wsdl:message name="IFTDIService_Send_data_OutputMessage">
    <wsdl:part name="parameters" element="tns:Send_dataResponse" />
  </wsdl:message>
  <wsdl:message name="IFTDIService_Read_data_InputMessage">
    <wsdl:part name="parameters" element="tns:Read_data" />
  </wsdl:message>
  <wsdl:message name="IFTDIService_Read_data_OutputMessage">
    <wsdl:part name="parameters" element="tns:Read_dataResponse" />
  </wsdl:message>
  <wsdl:message name="IFTDIService_FDTI_close_InputMessage">
    <wsdl:part name="parameters" element="tns:FDTI_close" />
  </wsdl:message>
  <wsdl:message name="IFTDIService_FDTI_close_OutputMessage">
    <wsdl:part name="parameters" element="tns:FDTI_closeResponse" />
  </wsdl:message>
  <wsdl:portType name="IFTDIService">
    <wsdl:operation name="Init_FDTIDevice">
      <wsdl:input wsaw:Action="Http://Keysight.NPI.ServiceModel.FTDI/IFTDIService/Init_FDTIDevice" message="tns:IFTDIService_Init_FDTIDevice_InputMessage" />
      <wsdl:output wsaw:Action="Http://Keysight.NPI.ServiceModel.FTDI/IFTDIService/Init_FDTIDeviceResponse" message="tns:IFTDIService_Init_FDTIDevice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Send_data">
      <wsdl:input wsaw:Action="Http://Keysight.NPI.ServiceModel.FTDI/IFTDIService/Send_data" message="tns:IFTDIService_Send_data_InputMessage" />
      <wsdl:output wsaw:Action="Http://Keysight.NPI.ServiceModel.FTDI/IFTDIService/Send_dataResponse" message="tns:IFTDIService_Send_data_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Read_data">
      <wsdl:input wsaw:Action="Http://Keysight.NPI.ServiceModel.FTDI/IFTDIService/Read_data" message="tns:IFTDIService_Read_data_InputMessage" />
      <wsdl:output wsaw:Action="Http://Keysight.NPI.ServiceModel.FTDI/IFTDIService/Read_dataResponse" message="tns:IFTDIService_Read_data_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FDTI_close">
      <wsdl:input wsaw:Action="Http://Keysight.NPI.ServiceModel.FTDI/IFTDIService/FDTI_close" message="tns:IFTDIService_FDTI_close_InputMessage" />
      <wsdl:output wsaw:Action="Http://Keysight.NPI.ServiceModel.FTDI/IFTDIService/FDTI_closeResponse" message="tns:IFTDIService_FDTI_close_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>